<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h2>活动结束</h2>
    <form>
        <div>
            <label for="">密码</label>
            <input id="password-over" type="password">
        </div>
        <div>
            <button id="submit-over" type="button">提交</button>
        </div>
    </form>

    <h2>兑换码补发</h2>
    <form>
        <div>
            <label for="">兑换码</label>
            <input id="code" type="text">
        </div>
        <div>
            <label for="">手机号</label>
            <input id="phone" type="text">
        </div>
        <div>
            <label for="">密码</label>
            <input id="password-code" type="password">
        </div>
        <div>
            <button id="submit-code" type="button">提交</button>
        </div>
    </form>
<script src="https://store.ddyc.com/res/xkcdn/zepto/v1.2.0/zepto.min.js"></script>
<script src="/pj_avoidpolice/public/js/admin.js"></script>
</body>
</html>