<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <title>Document</title>
    <link rel="stylesheet" href="/pj_valentine170207/public/css/test.css" type="text/css">
    <style>
    section:nth-child(1) {
        height: 100%;
        background: red;
    }
    section:nth-child(2) {
        display: none;
        height: 100%;
        background: green;
    }
    section:nth-child(3) {
        display: none;
        height: 100%;
        background: blue;
    }
    section:nth-child(4) {
        display: none;
        height: 100%;
        background: yellow;
    }
    button {
        position: fixed;
        z-index: 2;
    }

    </style>
</head>
<body>
    <button>click me</button>
    <div class="page-wrap">
        <div class="page-inner">
            <section>
                1
            </section>
            <section>
                2
            </section>
            <section>
                3
            </section>
            <section>
                4
            </section>
        </div>
    </div>
</body>
<script src="https://store.ddyc.com/res/xkcdn/zepto/v1.2.0/zepto.min.js"></script>
<script src="/pj_valentine170207/public/js/test.js" async></script>

</html>