<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>招商案例</title>

    <link rel="stylesheet" href="https://store.ddyc.com/res/xkcdn/animate/v3.5.2/animate.min.css" type="text/css" >
    <link rel="stylesheet" href="/pj_zsal160714/public/css/index.css" type="text/css" >
    
    <script>
        /**CONFIG**/
        window.CONF = {
            isapp     : {{ isapp }},
            appId     : '{{ wechat.appId }}',
            timestamp : '{{ wechat.timestamp }}',
            nonceStr  : '{{ wechat.nonceStr }}',
            signature : '{{ wechat.signature }}',
            // for share
            shareUrl      : '{{ shareUrl }}' ,
            shareTitle    : '这个车后市投资的新风向，有点猛',
            shareContent  : '这个老师连扳手都认不清，他投资了车后市，居然...',
            shareSubTitle : '这个老师连扳手都认不清，他投资了车后市，居然...',
            shareImgUrl   : 'http://store.ddyc.com/res/xkcdn/icons/share/icon_zsal160714.png'
        }
    </script>
</head>
<body>


<div class="page-wrap">
    <div class="page-inner">
        <section class="page1">
            <div class="page1-header"></div>
            <div class="page1-text1" data-anim-type="fadeInLeft"></div>
            <div class="page1-text2" 
                data-anim-type="fadeIn"
                data-anim-delay="1000"></div>
            <div class="page1-people" data-anim-type="fadeInRight"></div>
            <div class="page1-bottom"></div>
        </section>
        <section class="page2">
            <div class="page2-header"></div>
            <div class="page2-text1" 
                data-anim-type="fadeIn"
                data-anim-delay="1000"></div>
            <div class="page2-people" data-anim-type="fadeInRight"></div>
            <div class="page2-bottom"></div>
        </section>
        <section class="page3">
            <div class="page3-text1"></div>
            <div class="page3-text2" data-anim-type="fadeIn"></div>
            <div class="page3-pic-wrap1" data-anim-type="fadeIn">
                <div class="page3-icon1"></div>
                <div class="page3-pic1"></div>
            </div>
            <div class="page3-pic-wrap2" data-anim-type="fadeIn" data-anim-delay="500">
                <div class="page3-icon2"></div>
                <div class="page3-pic2"></div>
                <div class="page3-icon3"></div>
            </div>
            <div class="page3-bottom"></div>
        </section>
        <section class="page4">
            <div class="page4-text1"></div>
            <div class="page4-wrap1">
                <div class="page4-icons1" data-anim-type="fadeIn"></div>
                <div class="page4-pic1" data-anim-type="fadeInRight"></div>
            </div>
            <div class="page4-text2" data-anim-type="fadeIn" data-anim-delay="800"></div>
            <div class="page4-wrap2">
                <div class="page4-pic2" data-anim-type="fadeInLeft" data-anim-delay="800"></div>
                <div class="page4-icons2" data-anim-type="fadeIn" data-anim-delay="800"></div>
            </div>
            <div class="page4-bottom"></div>
        </section>
        <section class="page5">
            <div class="page5-text1"></div>
            <div class="page5-pic1" data-anim-type="fadeIn"></div>
            <div class="page5-pic2" data-anim-type="fadeIn" data-anim-delay="500"></div>
        </section>
        <section class="page6">
            <div class="page6-text1"></div>
            <div class="page6-pic1" data-anim-type="fadeIn"></div>
            <div class="page6-wrap1" data-anim-type="fadeIn" data-anim-delay="500">
                <div class="page6-pic2"></div>
                <div class="page6-icon1"></div>
            </div>
        </section>
        <section class="page789">
            <div class="page789-text1"></div>
            <div class="page789-wrap1" data-anim-type="fadeIn">
                <div class="page7-pic1"></div>
                <div class="page7-pic2" data-anim-type="fadeIn" data-anim-delay="600"></div>
            </div>
        </section>
        <section class="page789">
            <div class="page789-text1"></div>
            <div class="page789-wrap1" data-anim-type="fadeIn">
                <div class="page8-pic1"></div>
                <div class="page8-pic2" data-anim-type="fadeIn" data-anim-delay="600"></div>
            </div>
        </section>
        <section class="page789">
            <div class="page789-text1"></div>
            <div class="page789-wrap1" data-anim-type="fadeIn">
                <div class="page9-pic1"></div>
                <div class="page9-pic2" data-anim-type="fadeIn" data-anim-delay="600"></div>
            </div>
        </section>
        <section class="page10">
            <div class="page10-text1"></div>
            <a href="tel:0571-28299797" class="page10-phone"></a>
            <a href="http://active.yangchediandian.com/franchisee/index.php" class="page10-phone-1"></a>
            <div class="page10-bottom"></div>
        </section>
    </div>

    
    <div class="next-page animated cusFadeInDown infinite"></div>
</body>
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script src="https://store.ddyc.com/res/xkcdn/zepto/v1.1.4/zepto.min.js"></script>
<script src="/pj_zsal160714/public/js/index.js"></script>
<script src="/pj_zsal160714/public/js/share.js"></script>
<script type='text/javascript'>
    var _vds = _vds || [];
    window._vds = _vds;
    (function(){
      _vds.push(['setAccountId', 'e2f213a5f5164248817464925de8c1af']);
      (function() {
        var vds = document.createElement('script');
        vds.type='text/javascript';
        vds.async = true;
        vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(vds, s);
      })();
    })();
</script>
</html>
