<!doctype html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"
	/>
	<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">

	<meta itemprop="name" content="典典养车送你160元新人红包" />
	<meta itemprop="image" content="http://store.ddyc.com/res/xkcdn/icons/share/icon_qqhongbao20161107.png" />
	<meta name="description" itemprop="description" content="洗车、美容、保养、违章代缴、加油充值、车险、年检，养车专属管家，尽在典典！" />

	<title>新人红包-典典养车</title>
	<!-- css section -->
	<link rel="stylesheet" href="/pj_hongbao20161031/public/css/index.css">
	<!-- css section end-->
	<script>
        // 设置rem字号
        ;(function(doc,win){
            'use strict';
            var docEl = doc.documentElement;
            var resizeEvt =  'resize';
            function recalc() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                docEl.style.fontSize = (100 * clientWidth / 750) + 'px';
            }

            recalc();
            win.addEventListener(resizeEvt, recalc, false);
        })(document,window);

        /**CONFIG**/
        window.CONF = {
            isapp     : {{ isapp }},
            iswechat  : {{ iswechat }},
            appId     : '{{ wechat.appId }}',
            timestamp : '{{ wechat.timestamp }}',
            nonceStr  : '{{ wechat.nonceStr }}',
            signature : '{{ wechat.signature }}',
            openid    : '{{ openid }}',
            // for share
            shareUrl      : '{{ shareUrl }}' ,
            shareContent  : '洗车、美容、保养、违章代缴、加油充值、车险、年检，养车专属管家，尽在典典！',
            shareTitle    : '典典养车送你160元新人红包',
            shareSubTitle : '洗车、美容、保养、违章代缴、加油充值、车险、年检，养车专属管家，尽在典典！',
            shareImgUrl   : 'http://store.ddyc.com/res/xkcdn/icons/share/icon_hongbao20161031.png'
        }
	</script>
	<script type='text/javascript'>
		//获取浏览器参数
		function getQueryString(name) {
			var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
			var r = window.location.search.substr(1).match(reg);
			if (r != null) return unescape(r[2]); return null;
		}
		var _vds = _vds || [];
			window._vds = _vds;
		(function() {
			_vds.push(['setAccountId', 'e2f213a5f5164248817464925de8c1af']);

			if(getQueryString('trackId')){ //判断是否需要统计页面来源
					_vds.push(['setPageGroup', 'activvityHongbaoPage']); // 必须  比如活动页面 activityPage；养车H5页面 ddycAppH5Page 等
					_vds.push(['setPS1', '典典养车送你160元新人红包']);
					_vds.push(['setPS2', getQueryString('trackId')]); // trackId 原来id
			}

			(function() {
				var vds = document.createElement('script');
				vds.type = 'text/javascript';
				vds.async = true;
				vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(vds, s);
			})();
		})();
	</script>
</head>

<body>

	<div class="container">
		<img src="http://store.ddyc.com/res/xkcdn/icons/share/icon_qqhongbao20161107.png" class="hide" alt="">
		<div class="first">
			<div class="header init">
				<img class="img-banner" src="/pj_hongbao20161031/public/images/tencent/header1.png" alt="">
				<img class="img-man" src="/pj_hongbao20161031/public/images/man1.png" alt="">
				<input class="input" type="text" placeholder="点击输入手机号码" name="" value="">
			</div>
			<div class="header get-success hide">
				<img class="img-banner" src="/pj_hongbao20161031/public/images/tencent/header2.png" alt="">
				<img class="img-man" src="/pj_hongbao20161031/public/images/man2.png" alt="">
				<p>红包已放入帐号: <span class="phone-text"></span></p>
			</div>
			<div class="header old-user hide">
				<img class="img-banner" src="/pj_hongbao20161031/public/images/tencent/header2.png" alt="">
				<img class="img-man " src="/pj_hongbao20161031/public/images/man4.png" alt="">
			</div>
			<div class="header has-get hide">
				<img class="img-banner" src="/pj_hongbao20161031/public/images/tencent/header2.png" alt="">
				<img class="img-man " src="/pj_hongbao20161031/public/images/man3.png" alt="">
			</div>
			<img src="/pj_hongbao20161031/public/images/btn.png" class="btn get-btn" alt="">
			<img src="/pj_hongbao20161031/public/images/btn_active.png" class="btn get-btn-active hide" alt="">
			<img src="/pj_hongbao20161031/public/images/open_app.png" class="btn openapp-btn hide" alt="">
			<img src="/pj_hongbao20161031/public/images/go_app.png" class="btn goapp-btn hide" alt="">
			<img src="/pj_hongbao20161031/public/images/share_btn.png" class="btn share-btn hide" alt="">
		</div>
		<div class="second">
			<div class="img-item">
				<img src="/pj_hongbao20161031/public/images/item1.png" alt="">
			</div>
			<div class="img-item">
				<img src="/pj_hongbao20161031/public/images/item2.png" alt="">
			</div>
			<div class="img-item">
				<img src="/pj_hongbao20161031/public/images/item3.png" alt="">
			</div>
		</div>
	</div>
	<div class="share hide">
		<span class="close">关闭</span>
		<img src="/pj_hongbao20161031/public/images/share.png" alt="分享">
	</div>

	{% if iswechat %}
	<script src="//res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> 
	{% endif %}

	<script src="//store.ddyc.com/res/xkcdn/zepto/v1.1.4/zepto.min.js"></script>
	<script type="text/javascript" src="//qzonestyle.gtimg.cn/qzone/qzact/common/share/share.js"></script>
	<script src="/pj_hongbao20161031/public/js/index.js"></script>
	<script>
		setShareInfo({
         title:          '典典养车送你160元新人红包',
         summary:        '洗车、美容、保养、违章代缴、加油充值、车险、年检，养车专属管家，尽在典典！',
         pic:            'http://store.ddyc.com/res/xkcdn/icons/share/icon_qqhongbao20161107.png',
         url:            '{{ shareUrl }}',
     });
	</script>
</body>

</html>