<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width"/>
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>0元办违章</title>
    <meta http-equiv="x-dns-prefetch-control" content="on" /> 
    <link rel="dns-prefetch" href="https://store.ddyc.com" />

    <link rel="stylesheet" href="/pj_freeticket/public/css/share.css" type="text/css" >
    <script>      
        // 设置rem字号
        ;(function(doc,win){
            'use strict';
            var docEl = doc.documentElement;
            var resizeEvt = 'orientation change' in window ? 'orientation change' : 'resize';
            function recalc() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                docEl.style.fontSize = (100 * clientWidth / 750).toFixed(4) + 'px';
            };
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document,window);
        
        /* global CONFIG */
        /* jshint ignore:start */
        window.CONF = {
            isapp     : '{{ isapp }}', 
            iswechat  :'{{ iswechat }}',
            appId     : '{{ wechat.appId }}',
            timestamp : '{{ wechat.timestamp }}',
            nonceStr  : '{{ wechat.nonceStr }}',
            signature : '{{ wechat.signature }}',
            payUrl    : '{{ payUrl }}',
            indexUrl  : '{{ shareUrl }}',
            activeName : document.title,
            
            // shareconfig
            shareUrl      : '{{ shareUrl }}' ,
            shareContent  : '{{ shareContent }}',
            shareTitle    : '{{ shareTitle }}',
            shareSubTitle : '{{ shareContent }}',
            shareImgUrl   : 'https://store.ddyc.com/res/xkcdn/images/freeticket/shareicon.jpg'
        }

        window.onload = function() {
            //获取浏览器参数
            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r !== null) return unescape(r[2]); return null;
            }
            var _vds = _vds || [];
            window._vds = _vds;
            (function() {
                _vds.push(['setAccountId', 'e2f213a5f5164248817464925de8c1af']);

                if(getQueryString('trackId')){ //判断是否需要统计页面来源
                      _vds.push(['setPageGroup', 'activityPage']); // 必须  比如活动页面 activityPage ；养车H5页面 ddycAppH5Page 等
                      _vds.push(['setPS1', '0元办违章']);
                      _vds.push(['setPS2', getQueryString('trackId')]); // trackId 原来id
                }

                (function() {
                    var vds = document.createElement('script');
                    vds.type = 'text/javascript';
                    vds.async = true;
                    vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(vds, s);
                })();
            })();
        }
        /* jshint ignore: end */
    </script>
</head>
<body>
    <div id="test"></div>

    <div class="wrap">
        <div class="content">
            <div class="tips" id="tips"></div>
            <div class="people" id="people">
                <img src="https://store.ddyc.com/res/xkcdn/images/freeticket/people.png" alt="">
            </div>
            <ul class="active-text" id="activeText">
                <li class="layer" data-depth="0.40"></li>
            </ul>
            <div class="btn" id="btn">
                <li class="layer" data-depth="0.40"></li>
            </div>
        </div>
    </div>

    <div class="mask" id="mask">
        <div class="tips-2 animated2">
            <div class="text">
                <p>1.活动时间:2017.01.03-2017.01.10</p>
                <p>2.该活动仅限新用户，老用户可进入典典养车APP参与分享活动获得0元办违章特权</p>
                <p>3.如有疑问请进入典典养车APP【我的】点击右上角【在线客服】咨询</p>
            </div>
            <div class="btn"></div>
        </div>
    </div>

</body>
{% if iswechat %}
<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
{% endif %}
<script src="https://store.ddyc.com/res/xkcdn/zepto/v1.2.0/zepto.min.js"></script>
<script src="/pj_freeticket/public/js/share.js"></script>
</html>