<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,initial-scale=1.0,width=device-width" />
    <meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
    <title>浦发银行活动</title>
    <meta http-equiv="x-dns-prefetch-control" content="on" />
    <link rel="dns-prefetch" href="http://store.ddyc.com" />
    <link rel="stylesheet" href="/pj_cooperation/public/css/index.css" type="text/css">
    <script>
        // 设置rem字号
        ;(function(doc,win){
            'use strict';
            var docEl = doc.documentElement;
            var resizeEvt = 'orientation change' in window ? 'orientation change' : 'resize';
            function recalc() {
                var clientWidth = docEl.clientWidth;
                if (!clientWidth) return;
                docEl.style.fontSize = (100 * clientWidth / 750) + 'px';
            };
            recalc();
            win.addEventListener(resizeEvt, recalc, false);
            doc.addEventListener('DOMContentLoaded', recalc, false);
        })(document,window);
        window.CONF = {
                isapp: '{{ isapp }}'  == 'true',
                appId: '{{ wechat.appId }}',
                timestamp: '{{ wechat.timestamp }}',
                nonceStr: '{{ wechat.nonceStr }}',
                signature: '{{ wechat.signature }}',
                iswechat: '{{iswechat}}' == 'true',
                // shareconfig
                // for share
                shareUrl: '{{ shareUrl }}',
                shareTitle: '{{shareTitle}}',
                shareContent: '{{shareContent}}',
                shareSubTitle: '{{shareContent}}',
                shareImgUrl: '{{shareIcon}}',
            jsApiList: ['hideAllNonBaseMenuItem', 'hideOptionMenu'],
            notLocation: true
        }
    </script>
</head>
<body>
    <section class="index-bg">
        <header class="banner banner-spdb"></header>
        <aside class="btn-box spdb-btn-box">
            <a href="javascript:void (0)" id="button" data-key="{{btn.key}}"  class="btn {{btn.cls}}">{{btn.txt}}</a>
            <p class="seckill-tips">每天10点开抢</p>
        </aside>
        <article class="flow-info flow-info-spdb">

        </article>
        <footer class="footer-action">
            <a href="shoplist?appkey=BAZYHS6ZPGTIQP6X" class="footer-link" id="footerLink">查看洗车商户</a>
            {% if btn.key != 'unLogin'%}
            <a href="/feopen/user_center/index#coupon/spdb" class="footer-link checkCoupon">查看优惠券</a>
            {% else %}
            <a href="/feopen/user_center/index#coupon/spdb" class="footer-link checkCoupon" style="display: none">查看优惠券</a>
            {% endif %}
        </footer>
        <aside class="active-info">
            <h2><span>活动说明</span></h2>
            <ol class="active-info-nav">
                <li>抢购得到的洗车券，仅能在山东地区的典典养车合作门店使用</li>
                <li>每日抢购名额120个，先到先得，抢完即止</li>
                <li>单个用户每月限购2次，且仅限浦发银行信用卡用户参与</li>
                <li>活动洗车券有效期3天，过期不退，请及时使用</li>
                <li>服务包括车身内外清洗，仅限5座及以下非营运车辆使用SUV、MPV等其他车型需另补差价</li>
                <li>活动于每天上午10点开始</li>
            </ol>
        </aside>
    </section>
    {% if iswechat %}
    <script src="//res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    {% endif %}
    <script src="//store.ddyc.com/res/xkcdn/zepto/v1.2.0/zepto.min.js"></script>
    <script src="/pj_cooperation/public/js/spdb.js"></script>
    <script type="text/javascript">
        (function() {
            var fpHost = '{{tongDun.fpHost}}';
            var staticHost = '{{tongDun.staticHost}}';
            var tcpHost = '{{tongDun.tcpHost}}';
            var wsHost = '{{tongDun.wsHost}}';
            
            _fmOpt = {
                partner: 'yangchediandian',
                appName: 'yangche_web',
                token: '{{sessionId}}'};

            if(tcpHost){
                _fmOpt.fpHost = fpHost;
                _fmOpt.staticHost = staticHost;
                _fmOpt.tcpHost = tcpHost;
                _fmOpt.wsHost = wsHost;
            }
            
            var cimg = new Image(1,1);
            cimg.onload = function() {
                _fmOpt.imgLoaded = true;
            };
            cimg.src = "{{tongDun.fpHost}}/fp/clear.png?partnerCode=yangchediandian&appName=yangche_web&tokenId=" + _fmOpt.token;
            var fm = document.createElement('script'); fm.type = 'text/javascript'; fm.async = true;
            fm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + '{{tongDun.staticHost}}/fm.js?ver=0.1&t=' + (new Date().getTime()/3600000).toFixed(0);
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(fm, s);
        })();
    </script>
</body>
</html>